/temp.md
/learn-demo
/.vscode

backend/build/app/Analysis-00.toc
backend/build/app/app.pkg
backend/build/app/base_library.zip
backend/build/app/EXE-00.toc
backend/build/app/PKG-00.toc
backend/build/app/PYZ-00.pyz
backend/build/app/PYZ-00.toc
backend/build/app/warn-app.txt
backend/build/app/xref-app.html
backend/build/app/localpycs/pyimod01_archive.pyc
backend/build/app/localpycs/pyimod02_importers.pyc
backend/build/app/localpycs/pyimod03_ctypes.pyc
backend/build/app/localpycs/pyimod04_pywin32.pyc
backend/build/app/localpycs/struct.pyc
backend/dist/app.exe
backend/app.spec
electron/release-builds/myDesktopApp-win32-x64/chrome_100_percent.pak
electron/release-builds/myDesktopApp-win32-x64/chrome_200_percent.pak
electron/release-builds/myDesktopApp-win32-x64/d3dcompiler_47.dll
electron/release-builds/myDesktopApp-win32-x64/ffmpeg.dll
electron/release-builds/myDesktopApp-win32-x64/icudtl.dat
electron/release-builds/myDesktopApp-win32-x64/libEGL.dll
electron/release-builds/myDesktopApp-win32-x64/libGLESv2.dll
electron/release-builds/myDesktopApp-win32-x64/LICENSE
electron/release-builds/myDesktopApp-win32-x64/LICENSES.chromium.html
electron/release-builds/myDesktopApp-win32-x64/myDesktopApp.exe
electron/release-builds/myDesktopApp-win32-x64/resources.pak
electron/release-builds/myDesktopApp-win32-x64/snapshot_blob.bin
electron/release-builds/myDesktopApp-win32-x64/v8_context_snapshot.bin
electron/release-builds/myDesktopApp-win32-x64/version
electron/release-builds/myDesktopApp-win32-x64/vk_swiftshader_icd.json
electron/release-builds/myDesktopApp-win32-x64/vk_swiftshader.dll
electron/release-builds/myDesktopApp-win32-x64/vulkan-1.dll
electron/release-builds/myDesktopApp-win32-x64/locales/af.pak
electron/release-builds/myDesktopApp-win32-x64/locales/am.pak
electron/release-builds/myDesktopApp-win32-x64/locales/ar.pak
electron/release-builds/myDesktopApp-win32-x64/locales/bg.pak
electron/release-builds/myDesktopApp-win32-x64/locales/bn.pak
electron/release-builds/myDesktopApp-win32-x64/locales/ca.pak
electron/release-builds/myDesktopApp-win32-x64/locales/cs.pak
electron/release-builds/myDesktopApp-win32-x64/locales/da.pak
electron/release-builds/myDesktopApp-win32-x64/locales/de.pak
electron/release-builds/myDesktopApp-win32-x64/locales/el.pak
electron/release-builds/myDesktopApp-win32-x64/locales/en-GB.pak
electron/release-builds/myDesktopApp-win32-x64/locales/en-US.pak
electron/release-builds/myDesktopApp-win32-x64/locales/es-419.pak
electron/release-builds/myDesktopApp-win32-x64/locales/es.pak
electron/release-builds/myDesktopApp-win32-x64/locales/et.pak
electron/release-builds/myDesktopApp-win32-x64/locales/fa.pak
electron/release-builds/myDesktopApp-win32-x64/locales/fi.pak
electron/release-builds/myDesktopApp-win32-x64/locales/fil.pak
electron/release-builds/myDesktopApp-win32-x64/locales/fr.pak
electron/release-builds/myDesktopApp-win32-x64/locales/gu.pak
electron/release-builds/myDesktopApp-win32-x64/locales/he.pak
electron/release-builds/myDesktopApp-win32-x64/locales/hi.pak
electron/release-builds/myDesktopApp-win32-x64/locales/hr.pak
electron/release-builds/myDesktopApp-win32-x64/locales/hu.pak
electron/release-builds/myDesktopApp-win32-x64/locales/id.pak
electron/release-builds/myDesktopApp-win32-x64/locales/it.pak
electron/release-builds/myDesktopApp-win32-x64/locales/ja.pak
electron/release-builds/myDesktopApp-win32-x64/locales/kn.pak
electron/release-builds/myDesktopApp-win32-x64/locales/ko.pak
electron/release-builds/myDesktopApp-win32-x64/locales/lt.pak
electron/release-builds/myDesktopApp-win32-x64/locales/lv.pak
electron/release-builds/myDesktopApp-win32-x64/locales/ml.pak
electron/release-builds/myDesktopApp-win32-x64/locales/mr.pak
electron/release-builds/myDesktopApp-win32-x64/locales/ms.pak
electron/release-builds/myDesktopApp-win32-x64/locales/nb.pak
electron/release-builds/myDesktopApp-win32-x64/locales/nl.pak
electron/release-builds/myDesktopApp-win32-x64/locales/pl.pak
electron/release-builds/myDesktopApp-win32-x64/locales/pt-BR.pak
electron/release-builds/myDesktopApp-win32-x64/locales/pt-PT.pak
electron/release-builds/myDesktopApp-win32-x64/locales/ro.pak
electron/release-builds/myDesktopApp-win32-x64/locales/ru.pak
electron/release-builds/myDesktopApp-win32-x64/locales/sk.pak
electron/release-builds/myDesktopApp-win32-x64/locales/sl.pak
electron/release-builds/myDesktopApp-win32-x64/locales/sr.pak
electron/release-builds/myDesktopApp-win32-x64/locales/sv.pak
electron/release-builds/myDesktopApp-win32-x64/locales/sw.pak
electron/release-builds/myDesktopApp-win32-x64/locales/ta.pak
electron/release-builds/myDesktopApp-win32-x64/locales/te.pak
electron/release-builds/myDesktopApp-win32-x64/locales/th.pak
electron/release-builds/myDesktopApp-win32-x64/locales/tr.pak
electron/release-builds/myDesktopApp-win32-x64/locales/uk.pak
electron/release-builds/myDesktopApp-win32-x64/locales/ur.pak
electron/release-builds/myDesktopApp-win32-x64/locales/vi.pak
electron/release-builds/myDesktopApp-win32-x64/locales/zh-CN.pak
electron/release-builds/myDesktopApp-win32-x64/locales/zh-TW.pak
electron/release-builds/myDesktopApp-win32-x64/resources/app/main.js
electron/release-builds/myDesktopApp-win32-x64/resources/app/package.json
electron/release-builds/myDesktopApp-win32-x64/resources/app/public/favicon.ico
electron/release-builds/myDesktopApp-win32-x64/resources/app/public/index.html
electron/release-builds/myDesktopApp-win32-x64/resources/app/public/assets/index-5zw-G9-6.css
electron/release-builds/myDesktopApp-win32-x64/resources/app/public/assets/index-tNFnIGdo.js
electron/release-builds/myDesktopApp-win32-x64/resources/app/public/assets/primeicons-5P3lgTyi.eot
electron/release-builds/myDesktopApp-win32-x64/resources/app/public/assets/primeicons-7GdVu_me.woff2
electron/release-builds/myDesktopApp-win32-x64/resources/app/public/assets/primeicons-bmyWY2nz.svg
electron/release-builds/myDesktopApp-win32-x64/resources/app/public/assets/primeicons-DQ1UBV8x.ttf
electron/release-builds/myDesktopApp-win32-x64/resources/app/public/assets/primeicons-ghXmUeij.woff
electron/release-builds/myDesktopApp-win32-x64/resources/app/resources/app.exe
.gitignore
